<div class="row" style="margin: 10px; min-height: 360px">
    <div class="col-sm-6 m-6">
        <h6>My Productivity</h6>
        <div class="card align-items-center m-6">
            <div class="card-body m-6">
                <img class="img-responsive" src="./../../../../../assets/images/my-productivity.PNG">
            </div>
        </div>
    </div>
    <div class="col-sm-6 m-6">
        <h6>My Contribution</h6>
        <div class="card align-items-center m-6">
            <div class="card-body m-6">
                <img class="img-responsive" src="./../../../../../assets/images/my-contribution.PNG">
            </div>
        </div>
    </div>
</div>
<div class="row" style="margin: 10px; min-height: 360px">
    <div class="col-sm-6 m-6">
        <h6>Available Vs Productive</h6>
        <div class="card align-items-center m-6">
            <div class="card-body m-6">
                <img class="img-responsive" src="./../../../../../assets/images/available-produced.PNG">
            </div>
        </div>
    </div>
    <div class="col-sm-6 m-6">
        <h6>Audit Score</h6>
        <div class="card align-items-center m-6">
            <div class="card-body m-6">
                <img class="img-responsive" src="./../../../../../assets/images/audit-score.PNG">
            </div>
        </div>
    </div>
</div>
<div class="row" style="margin: 10px; min-height: 360px">
    <div class="col-sm-12 m-12">
        <h6>Status to Date</h6>
        <div class="card align-items-center m-12">
            <div class="card-body m-12">
                <img class="img-responsive" src="./../../../../../assets/images/status-date.PNG">
            </div>
        </div>
    </div>
</div>