<div style="margin: 10px">
  <div class="card  border-primary mb-3">
    <div class="row" style="margin: 10px; min-height: 230">
      <div class="col-sm-6 m-6 xs-12">
        <div style="align-items: center">
          <h6>My Productivity</h6>
        </div>
        <div class="card sm-6 m-6 xs-12">
          <div class="card-body sm-6 m-6 xs-12">
            <google-chart #chart [title]="titleproductivity" [type]="typeproductivity" [data]="dataproductivity"
              [options]="optionsproductivity" [width]="widthproductivity" [columnNames]="columnNamesproductivity"
              [height]="heightproductivity">
            </google-chart>
            <form [formGroup]="productiveDates" (ngSubmit)="onSubmitProductive()">
              <div class="row" style="margin-left:30px; margin-right:30px;">
                <div class="col-sm-3 m-3 lg-3">
                  <!-- <label lbl-stylefor="fromDateProductive">From Date</label> -->
                  <div class='input-group'>
                    <input autocomplete="off" ngbDatepicker name="d1" #d1="ngbDatepicker"
                      formControlName="fromDateProductive" type="text" class="form-control" id="fromDateProductive"
                      placeholder="From Date" readonly='true'>
                    <div class="input-group-append">
                      <button class="btn btn-outline-secondary calendar" (click)="d1.toggle()" type="button"></button>
                    </div>
                  </div>                 
                  <span style="font-size:14px; color: rgb(238, 11, 11);"
                    *ngIf="submittedProd && prod.fromDateProductive.errors && prod.fromDateProductive.errors.incorrect">
                    from date greater that to date</span>
                </div>
                <div class="lbl">
                  <label>to</label>
                </div>
                <div class="col-sm-3 m-3 lg-3">
                  <!-- <label lbl-stylefor="toDateProductive">To Date</label> -->
                  <div class='input-group'>
                    <input autocomplete="off" ngbDatepicker name="d2" #d2="ngbDatepicker"
                      formControlName="toDateProductive" type="text" class="form-control" id="toDateProductive"
                      placeholder="To Date" readonly='true'>
                    <div class="input-group-append">
                      <button class="btn btn-outline-secondary calendar" (click)="d2.toggle()" type="button"></button>
                    </div>
                  </div>
                </div>
                <div class="col-sm-3 m-3 lg-3">
                  <div class="input-group">
                    <!-- <label lbl-stylefor="actionProductive">Action</label> -->
                    <select placeholder="select an action" formControlName="actionProductive" type="select"
                      class="form-control" id="actionProductive">
                      <option value="">---action---</option>
                      <option *ngFor="let action of actionList" value={{action.actionId}}>
                        {{action.actionName}}
                      </option>
                    </select>
                    <span style="font-size:14px; color: rgb(238, 11, 11);"
                      *ngIf="submittedProd && prod.actionProductive.errors && prod.actionProductive.errors.required">
                      please select an action</span>
                  </div>
                </div>
                <div class="btn-prop">
                  <button type="submit" class="btn btn-primary btn-style">OK</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="col-sm-6 m-6 xs-12">
        <div style="align-items: center">
          <h6>My Contribution</h6>
        </div>
        <div class="card sm-6 m-6 xs-12">
          <div class="card-body sm-6 m-6 xs-12">
            <google-chart #chart [title]="titlecontribution" [type]="typecontribution" [data]="datacontribution"
              [columnNames]="columnNamescontribution" [options]="optionscontribution" [width]="widthcontribution"
              [height]="heightcontribution">
            </google-chart>
            <form [formGroup]="contributionDates" (ngSubmit)="onSubmitContribution()">
              <div class="row" style="margin-left:30px; margin-right:30px; align-items: left; align-content: left;">
                <div class="col-sm-3 m-3 lg-3">
                  <!-- <label lbl-stylefor="from">From Date</label> -->
                  <div class='input-group'>
                    <input autocomplete="off" ngbDatepicker name="d3" #d3="ngbDatepicker"
                      formControlName="fromDateContribution" type="text" class="form-control" id="fromDateContribution"
                      placeholder="From Date" readonly='true'>
                    <div class="input-group-append">
                      <button class="btn btn-outline-secondary calendar" (click)="d3.toggle()" type="button"></button>
                    </div>
                  </div>
                </div>
                <div class="lbl">
                  <label>to</label>
                </div>
                <div class="col-sm-3 m-3 lg-3">
                  <!-- <label lbl-stylefor="toDateContribution">To Date</label> -->
                  <div class='input-group'>
                    <input autocomplete="off" ngbDatepicker name="d4" #d4="ngbDatepicker"
                      formControlName="toDateContribution" type="text" class="form-control" id="toDateContribution"
                      placeholder="To Date" readonly='true'>
                    <div class="input-group-append">
                      <button class="btn btn-outline-secondary calendar" (click)="d4.toggle()" type="button"></button>
                    </div>
                  </div>
                </div>
                <div class="col-sm-3 m-3 lg-3">
                  <div class="input-group">
                    <!-- <label lbl-stylefor="actionContribution">Action</label> -->
                    <select placeholder="select an action" formControlName="actionContribution" type="select"
                      class="form-control" id="actionContribution">
                      <option value="">---action---</option>
                      <option *ngFor="let action of actionList" value={{action.actionId}}>
                        {{action.actionName}}
                      </option>
                    </select>
                    <span style="font-size:14px; color: rgb(238, 11, 11);"
                      *ngIf="submittedCont && cont.actionContribution.errors && cont.actionContribution.errors.required">
                      please select an action</span>
                  </div>
                </div>
                <div class="btn-prop">
                  <button type="submit" class="btn btn-primary btn-style">OK</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>

    </div>
    <div class="row" style="margin: 10px; min-height: 360">
      <div class="col-sm-6 m-6">
        <h6>Audit Score</h6>
        <div class="card align-items-center m-6">
          <div class="card-body m-6">
            <google-chart #chart [title]="titleaudit" [type]="typeaudit" [data]="dataaudit" [options]="optionsaudit"
              [width]="widthaudit" [columnNames]="columnNamesaudit" [height]="heightaudit">
            </google-chart>
          </div>
        </div>
      </div>
      <div class="col-sm-6 m-6">
        <h6>Status-Date</h6>
        <div class="card align-items-center m-6">
          <div class="card-body m-6">
            <google-chart #chart [title]="titlestatus" [type]="typestatus" [data]="datastatus" [options]="optionsstatus"
              [width]="widthstatus" [columnNames]="columnNamesstatus" [height]="heightstatus">
            </google-chart>
          </div>
        </div>
      </div>
    </div>
    <div class="row" style="margin: 10px; min-height: 360">
      <div class="col-sm-12 m-12">
        <h6>Available Vs Productive</h6>
        <div class="card align-items-center m-8">
          <div class="card-body m-8">
            <google-chart #chart [title]="titleavailable" [type]="typeavailable" [data]="dataavailable"
              [options]="optionsavailable" [width]="widthavailable" [columnNames]="columnNamesavailable"
              [height]="heightavailable">
            </google-chart>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>