<div class="row" style="margin: 10px; min-height: 360px">
    <div class="col-sm-6 m-6">
        <h6>Average Time Taken By Me</h6>
        <div class="card align-items-center m-6">
            <div class="card-body m-6">
                <img class="img-responsive" src="./../../../../../assets/images/avg-time-taken-me.PNG">
            </div>
        </div>
    </div>
    <div class="col-sm-6 m-6">
        <h6>Average Time Taken By Team</h6>
        <div class="card align-items-center m-6">
            <div class="card-body m-6">
                <img class="img-responsive" src="./../../../../../assets/images/avg-time-taken-team.PNG">
            </div>
        </div>
    </div>
</div>
<div class="row" style="margin: 10px; min-height: 360px">
    <div class="col-sm-6 m-6">
        <h6>Average Time Taken For Work Baskets</h6>
        <div class="card align-items-center m-6">
            <div class="card-body m-6">
                <img class="img-responsive" src="./../../../../../assets/images/avg-time-taken-wb.PNG">
            </div>
        </div>
    </div>
    <div class="col-sm-6 m-6">
        <h6>Sum Of Pending Claims</h6>
        <div class="card align-items-center m-6">
            <div class="card-body m-6">
                <img class="img-responsive" src="./../../../../../assets/images/sum-of-pending-claims.PNG">
            </div>
        </div>
    </div>
</div>
<div class="row" style="margin: 10px; min-height: 360px">
    <div class="col-sm-12 m-12">
        <h6>Sum Of Claims Processed</h6>
        <div class="card align-items-center m-12">
            <div class="card-body m-12">
                <img class="img-responsive" src="./../../../../../assets/images/total-claims-processed.PNG">
            </div>
        </div>
    </div>
</div>