:host ::ng-deep .ui-panelmenu .ui-panelmenu-content {
  border: none;
  background-color: transparent;

}

:host ::ng-deep .ui-panelmenu .ui-panelmenu-header > a {
  border: none;
  background-color: transparent;
  color: white;
  margin-top: 50px;
}

:host ::ng-deep .ui-sidebar{
  background-color: #0f477e;
}

:host ::ng-deep .ui-panelmenu .ui-panelmenu-content .ui-menuitem .ui-menuitem-link {
  color: white;
}
