<div class="row" style="margin: 10px; min-height: 360">
  <div class="col-sm-6 m-6">
    <div class="card align-items-center m-6">
      <div class="card-body m-6">
        <div class="m-2" id="chartContainer" style="width: 325px; height: 350px;"></div>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card align-items-center m-6">
      <div class="card-body m-6">
        <div class="m-2" id="chartContainer1" style="width: 325px;height: 350px"></div>
      </div>
    </div>
  </div>
</div>

<div class="row" style="margin: 10px; min-height: 360px">
  <div class="col-sm-6 m-6">
    <div class="card align-items-center m-6">
      <div class="card-body m-6">
        <google-chart [type]="type" [data]="myData"></google-chart>
      </div>
    </div>
  </div>
  <div class="col-sm-6 m-6">
    <div class="card align-items-center m-6">
      <div class="card-body m-6">
        <google-chart [type]="type" [data]="myData"></google-chart>
      </div>
    </div>
  </div>
</div>
