<div style="margin: 10px">
  <div class="card text-center mb-3">
    <div class="card-header">
      <ul class="nav nav-tabs card-header-tabs">
        <li class="nav-item">
          <a class="nav-link activelink active" id="business-dashboard" (click)="setComponentId('OVERALL')">Business
            Dashboard</a>
        </li>
        <li class="nav-item">
          <a class="nav-link activelink " id="team-dashboard" (click)="setComponentId('USER')">Team Dashboard</a>
        </li>
      </ul>
    </div>
    <!-- // FIRST TAB -->
    <div [hidden]="id!=='OVERALL'" class="card-body" style="min-height: 545px">
      <div class="row" style="margin: 10px; min-height: 360px">
        <div class="col-sm-6">
          <h6>High Dollar High Impact Claims </h6>
          <div class="card align-items-center m-6">
            <div class="card-body m-6">
              <div class="m-2" id="chartContainer1" style="width: 325px;height: 350px"></div>
            </div>
          </div>
        </div>
        <div class="col-sm-6 m-6">
          <h6>Aging Dollar Impact Claims</h6>
          <div class="card align-items-center m-6">
            <div class="card-body m-6">
              <div class="m-2" id="chartContainer" style="width: 325px; height: 350px;"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="row" style="margin: 10px; min-height: 360">
        <div class="col-sm-6 m-6">
          <h6>Aging Claims</h6>
          <div class="card align-items-center m-6">
            <div class="card-body m-6">
              <div class="m-2" id="chartContainer3" style="width: 325px; height: 350px;"></div>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <h6>Aging Claims Workbasket </h6>
          <div class="card align-items-center m-6">
            <div class="card-body m-6">
              <div class="m-2" id="chartContainer4" style="width: 325px;height: 350px"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="row" style="margin: 10px; min-height: 360">
        <div class="col-sm-6 m-6">
          <h6>Hourly Progress</h6>
          <div class="card align-items-center m-6">
            <div class="card-body m-6">
              <google-chart #chart [title]="titlelineProgress" [type]="typelineProgress" [data]="datalineProgress"
                [columnNames]="columnNameslineProgress" [options]="optionslineProgress" [width]="widthlineProgress"
                [height]="heightlineProgress">
              </google-chart>
            </div>
          </div>
        </div>
        <div class="col-sm-6 m-6">
          <h6>Intake Vs Completed</h6>
          <div class="card align-items-center m-6">
            <div class="card-body m-6">
              <google-chart #chart [title]="titlelineIntake" [type]="typelineIntake" [data]="datalineIntake"
                [columnNames]="columnNameslineIntake" [options]="optionslineIntake" [width]="widthlineIntake"
                [height]="heightlineIntake">
              </google-chart>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- SECOND TAB -->
    <div [hidden]="id!=='USER'" class="card-body" style="min-height: 545px">
      <div class="row" style="margin: 5px; min-height: 280px">
        <div class="col-sm-6 m-6">
          <h6>Active Status</h6>
          <div class="card align-items-center m-6">
            <div class="card-body m-6">
              <google-chart [type]="type" [data]="myData"></google-chart>
            </div>
          </div>
        </div>
        <div class="col-sm-6 m-6">
          <h6>Current Status</h6>
          <div class="card align-items-center m-6">
            <div class="card-body m-6">
              <google-chart [type]="type" [data]="myData1"></google-chart>
            </div>
          </div>
        </div>
      </div>
      <div class="row" style="margin: 5px; min-height: 280px">
        <div class="col-sm-12 m-12">
          <h6>Team Availability</h6>
          <div class="card align-items-center m-12">
            <div class="card-body m-12">
              <google-chart #chart [title]="titleline" [type]="typeline" [data]="dataline"
                [columnNames]="columnNamesline" [options]="optionsline" [width]="widthline" [height]="heightline">
              </google-chart>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
