<div style="margin: 10px;">
  <div class="card mb-3">
    <div class="row" style="margin: 10px; min-height: 230">
      <div class="col-sm-12 md-12 xs-12">
        <div style="align-items: center">
          <h6>My Productivity</h6>
        </div>
        <div class="card sm-12 md-12 xs-12">
          <div class="card-body sm-12 md-12 xs-12">
            <google-chart #chart [title]="titleproductivity" *ngIf="isProdRendered" [type]="typeproductivity"
              [data]="dataproductivity" [options]="optionsproductivity" [width]="widthproductivity"
              [columnNames]="columnNamesproductivity" [height]="heightproductivity">
            </google-chart>
            <form [formGroup]="productiveSchedule" (ngSubmit)="onSubmitProductive()">
              <div class="row" style="margin-left:100px; margin-right:30px;">
                <div class="col-sm-2 md-2 lg-2">
                  <!-- <div class="input-group">
                    <select id="schedule" (change)="onChangeSchedule($schedule)" 
                      formControlName="scheduleProductive" type="select" class="form-control" id="scheduleProductive">
                      <option value="">---Select---</option>
                      <option *ngFor="let schedule of scheduleList" value={{schedule.scheduleId}}>
                        {{schedule.scheduleName}}
                      </option>
                    </select>
                  </div> -->
                  <p-dropdown (onChange)="onChangeSchedule()" [options]="scheduleOptions" optionLabel="name"
                    formControlName="scheduleProductive"></p-dropdown>
                </div>
                <div *ngIf="monthWise" class="col-sm-2 md-2 lg-2">
                  <p-calendar [showIcon]="true" formControlName="scheduleMonth" dateFormat="mm/yy" view="month"
                    [yearNavigator]="true" yearRange="2000:2030">
                  </p-calendar>
                </div>
                <div *ngIf="yearWise" class="col-sm-2 md-2 lg-2">
                  <p-dropdown [options]="yearOptions" optionLabel="name" formControlName="scheduleYear"></p-dropdown>
                  <!-- <p-calendar [showIcon]="true"  formControlName="scheduleYear" yearRange="2000:2030" ></p-calendar> -->
                </div>
                <div *ngIf="dayWise" class="col-sm-2 md-2 lg-2">
                  <p-calendar [showIcon]="true" formControlName="scheduleDay" [monthNavigator]="true"
                    [yearNavigator]="true" yearRange="2000:2030"></p-calendar>
                </div>
                <div *ngIf="weekWise" class="col-sm-2 md-2 lg-2">
                  <p-calendar [showIcon]="true" formControlName="scheduleFromWeek" [monthNavigator]="true"
                    [yearNavigator]="true" yearRange="2000:2030">
                  </p-calendar>
                </div>
                <div *ngIf="weekWise" class="col-sm-2 md-2 lg-2">
                  <p-calendar [showIcon]="true" formControlName="scheduleToWeek" [monthNavigator]="true"
                    [yearNavigator]="true" yearRange="2000:2030">
                  </p-calendar>
                </div>
                <!-- <div class="col-sm-2 m-2 lg-2">
                  <p-calendar [(ngModel)]="value"></p-calendar>
                </div> -->
                <div class="col-sm-2 md-2 lg-2">
                  <button type="submit" class="btn btn-primary btn-style">OK</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>