<div style="margin: 10px">
  <div class="card text-center border-primary mb-3">
    <div class="card-header">
      <div style="margin: 25px">
        <table id="myTable" style="margin: 6px">
          <tr class="header">
            <th style="width:20%;">Claim Id</th>
            <th style="width:20%;">Claim Type</th>
            <th style="width:20%;">Billed Amount</th>
            <th style="width:20%;">Work Basket</th>
            <th style="width:20%;">Claim Source</th>
            <th style="width:20%;">Age</th>
          </tr>
          <tr *ngFor="let item of claimObject">
            <td>{{item.claimId}}</td>
            <td>{{item.claimType}}</td>
            <td>{{item.billedAmount}}</td>
            <td>{{item.workBasket}}</td>
            <td>{{item.claimSource}}</td>
            <td>{{item.Age}}</td>
          </tr>
        </table>
        <button style="margin: 6px; float: left;" type="button" class="btn btn-primary btn-lg">Reprioritize</button>
      </div>
    </div>
  </div>
</div>
