<div class="row d-flex justify-content-center">
  <div>
    <button type="button" data-toggle="modal" data-target="#audit-mode-modal" class="btn btn-success m-2">Accept</button>

    <button (click)="setAction('REJECT')" type="button" class="btn btn-secondary m-2 " data-toggle="collapse"
      href="#collapseRoute">Deny</button>
  </div>
</div>

<div class="p-2 collapse multi-collapse" id="collapseRoute">
  <div class="card p-2">
    <div>
      <textarea [(ngModel)]="comments" placeholder="Enter comments here.." class=" form-control p-2"
        id="exampleFormControlTextarea1" rows="3"></textarea>
      <button (click)="triggerClaimCompletion(action)" data-toggle="collapse" href="#collapseRoute" type="button"
        class="btn btn-success p-2 float-right" style="margin-top: 7px">Save and Next</button>
    </div>
  </div>
</div>
<div class="card-deck p-2 " style="margin-top: 25px">
  <div class="card">
    <div class="card-body">
      <div>
        <div class="row">
          <span class="col" type="text" style="margin: 15px"></span>
          <button (click)="copyInputMessage(userinput)" class="btn btn-secondary align-middle" data-toggle="tooltip"
            data-placement="bottom" title="Copy Claim Id"
            style="margin: 15px; border-radius: 50%; height: 35px; width: 35px; margin-bottom: -5px">
            <i class="fa fa-clipboard" aria-hidden="true"></i>
          </button>
        </div>
        <div class="row">
          <input class="form-control col" type="text" value="Claim Id" readonly style="margin: 15px">
          <input class="form-control col readonly" type="text" value={{claimDetails.claimId}} readonly
            style="margin: 15px" #userinput>
        </div>
        <div class="row">
            <input class="form-control col" type="text" value="Finalized By" readonly style="margin: 15px">
            <input class="form-control col readonly" type="text" value={{claimDetails.finalizedBy}} readonly
              style="margin: 15px">
          </div>
        <div class="row">
          <input class="form-control col" type="text" value="Type" readonly style="margin: 15px">
          <input class="form-control col readonly" type="text" value="{{claimDetails.claimType}}" readonly
            style="margin: 15px">
        </div>
        <div class="row">
          <input class="form-control col" type="text" value="Claim Source" readonly style="margin: 15px">
          <input class="form-control col readonly" type="text" value="{{claimDetails.claimSource}}" readonly
            style="margin: 15px">
        </div>
        <div class="row">
          <input class="form-control col" type="text" value="Billed Amount" readonly style="margin: 15px">
          <input class="form-control col readonly" type="text" value="{{claimDetails.billedAmount}}" readonly
            style="margin: 15px">
        </div>
      </div>
    </div>
  </div>
  <div class="card" style="width: 200px">
    <div class="card-body">
      <div>
        <div class="row">
          <span class="col" type="text" style="margin: 15px"></span>
          <span class="align-middle"
            style="margin: 15px; border-radius: 50%; height: 35px; width: 35px; margin-bottom: -5px">
          </span>
        </div>
        <div class="row">
          <input class="form-control col" type="text" value="WB Name" readonly style="margin: 15px">
          <input class="form-control col readonly" type="text" value="{{claimDetails.workBasketName}}" readonly
            style="margin: 15px">
        </div>
        <div class="row">
          <input class="form-control col" type="text" value="State" readonly style="margin: 15px">
          <input class="form-control col readonly" type="text" value="{{claimDetails.state}}" readonly
            style="margin: 15px">
        </div>
        <div class="row">
          <input class="form-control col" type="text" value="Review/Repair reason" readonly style="margin: 15px">
          <input class="form-control col readonly" type="text" value="{{claimDetails.reviewRepairReason}}"
            style="margin: 15px;" readonly>
        </div>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <div>
        <div class="row">
          <span class="col" type="text" style="margin: 15px"></span>
          <span class="align-middle"
            style="margin: 15px; border-radius: 50%; height: 35px; width: 35px; margin-bottom: -5px">
          </span>
        </div>
        <div class="row">
          <input class="form-control col" type="text" value="Receipt Date" readonly style="margin: 15px">
          <input class="form-control col readonly" type="text"
            value="{{claimDetails.receiptDate | date: 'dd/MM/yyyy'}} " readonly style="margin: 15px">
        </div>
        <div class="row">
          <input class="form-control col" type="text" value="Entry Date" readonly style="margin: 15px">
          <input class="form-control col readonly" type="text" value="{{claimDetails.entryDate| date: 'dd/MM/yyyy'}} "
            readonly style="margin: 15px">
        </div>
        <div class="row">
          <input class="form-control col" type="text" value="Finalized Date" readonly style="margin: 15px">
          <input class="form-control col readonly" type="text"
            value="{{claimDetails.finalizedDate | date: 'dd/MM/yyyy'}} " readonly style="margin: 15px">
        </div>
      </div>
    </div>
  </div>


  <app-yes-no-model modeId = "audit-mode-modal" modalTitle="Complete Claim?" modalBody="Accept Claim and move to next Claim ?"
    modalYesButtonText="OK" modalNoButtonText="Cancel" (yesEvent)="triggerClaimCompletion('ACCEPT')" >
  </app-yes-no-model>
