<div style="margin: 10px">
  <div class="card text-center border-primary mb-3">
    <div class="card-header">
      <ul class="nav nav-tabs card-header-tabs">
        <li class="nav-item">
          <a class="nav-link activelink active" (click)="setComponentId('SCORE_CARD')">My Scorecard</a>
        </li>
        <li class="nav-item">
          <a class="nav-link activelink " (click)="setComponentId('DRAW')">Draw Mode</a>
        </li>
        <li class="nav-item">
          <a class="nav-link activelink" (click)="setComponentId('PENDIG_TASKS')">Pending Tasks</a>
        </li>
        <li class="nav-item">
          <a class="nav-link activelink" (click)="setComponentId('AUDIT')">Audit Mode</a>
        </li>
      </ul>
    </div>

    <div [hidden]="id!=='DRAW'" class="card-body" style="min-height: 545px">
      <app-draw-mode></app-draw-mode>
    </div>
    <div [hidden]="id!=='PENDIG_TASKS'" class="card-body" style="min-height: 545px">
    </div>
    <div [hidden]="id!=='SCORE_CARD'" class="card-body" style="min-height: 545px">
      <app-score-card></app-score-card>
    </div>
    <div [hidden]="id!=='AUDIT'" class="card-body" style="min-height: 545px">
      <app-audit-mode></app-audit-mode>
    </div>
  </div>
</div>
