<div class="container card">
    <div class="card-body">
        <form [formGroup]="basicInfo" (ngSubmit)="onSubmit()">
            <div class="row">
                <div class="form-group col-sm-5 txt-style">
                    <label lbl-stylefor="firstName">First Name</label>
                    <input formControlName="firstName" type="text" class="form-control" id="firstName"
                        placeholder="Enter First Name">
                    <span style="font-size:14px; color: rgb(238, 11, 11);"
                        *ngIf="submitted && info.firstName.errors && info.firstName.errors.required">
                        first name is required</span>
                </div>
                <div class="form-group col-sm-5 txt-style">
                    <label lbl-stylefor="lastName">Last Name</label>
                    <input formControlName="lastName" type="text" class="form-control" id="lastName"
                        placeholder="Enter Last Name">
                    <span style="font-size:14px; color: rgb(238, 11, 11);"
                        *ngIf="submitted && info.lastName.errors && info.lastName.errors.required">
                        last name is required</span>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-sm-5 txt-style">
                    <label lbl-stylefor="userId">User ID</label>
                    <input formControlName="userId" type="text" class="form-control" id="userId"
                        placeholder="Enter User Id">
                    <span style="font-size:14px; color: rgb(238, 11, 11);"
                        *ngIf="submitted && info.userId.errors && info.userId.errors.required">
                        user id is required</span>
                </div>
                <div class="form-group col-sm-5 txt-style">
                    <label lbl-stylefor="primaryEmail">Primary Email</label>
                    <input formControlName="primaryEmail" type="email" class="form-control" id="primaryEmail"
                        placeholder="Enter Primary Email Address">
                    <span style="font-size:14px; color: rgb(238, 11, 11);"
                        *ngIf="submitted && info.primaryEmail.errors && info.primaryEmail.errors.required">
                        primary email is required</span>
                    <span style="font-size:14px; color: rgb(238, 11, 11);"
                        *ngIf="submitted && info.primaryEmail.errors && info.primaryEmail.errors.pattern">
                        invalid email</span>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-sm-5 txt-style">
                    <label lbl-stylefor="effectiveFrom">Effective From</label>
                    <div class='input-group'>
                        <input ngbDatepicker name="d1" #d1="ngbDatepicker" formControlName="effectiveFrom" type="text"
                            class="form-control" id="effectiveFrom" placeholder="dd-mm-yyyy">
                        <!-- [value]="formatter.format(fromDate)" (dateSelect)="onFromDateSelection($event)"
                       (input)="fromDate = validateFromDateInput(fromDate, d1.value)" -->
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary calendar" (click)="d1.toggle()"
                                type="button"></button>
                        </div>
                    </div>
                    <span style="font-size:14px; color: rgb(238, 11, 11);"
                        *ngIf="submitted && info.effectiveFrom.errors && info.effectiveFrom.errors.required">
                        effective from date is required</span>
                </div>
                <!-- <div class="form-group col-sm-5 txt-style">
                    <label lbl-stylefor="terminationDate">Termination Date</label>
                    <div class='input-group'>
                        <input ngbDatepicker name="d2" #d2="ngbDatepicker" formControlName="terminationDate" type="text"
                            class="form-control" id="terminationDate" placeholder="dd-mm-yyyy">
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary calendar" (click)="d2.toggle()"
                                type="button"></button>
                        </div>
                    </div>
                    <span style="font-size:14px; color: rgb(238, 11, 11);"
                        *ngIf="submitted && info.terminationDate.errors && info.terminationDate.errors.required">
                        termination date is required</span>
                </div> -->
                <div class="form-group col-sm-5 txt-style">
                    <label lbl-stylefor="terminationDate">Termination Date</label>
                    <input formControlName="terminationDate" [readonly]="true" type="text" class="form-control"
                        id="terminationDate">
                    <!-- placeholder="Enter Termination Date" -->
                    <!-- <span style="font-size:14px; color: rgb(238, 11, 11);"
                        *ngIf="submitted && info.terminationDate.errors && info.terminationDate.errors.required">
                        termination date is required</span> -->
                </div>
            </div>
            <div class="row">
                <!-- <div class="form-group col-sm-5 txt-style">
                    <label lbl-stylefor="userSkillSet">User Skill Set</label>
                    <input formControlName="userSkillSet" type="text" class="form-control" id="userSkillSet"
                        placeholder="Enter User Skill Set">
                    <span style="font-size:14px; color: rgb(238, 11, 11);"
                        *ngIf="submitted && info.userSkillSet.errors && info.userSkillSet.errors.required">
                        user skill set is required</span>
                </div> -->
                <div class="form-group col-sm-5 txt-style">
                    <label lbl-stylefor="userSkillSet">User Skill Set</label>
                    <select formControlName="userSkillSet" type="select" class="form-control" id="userSkillSet"
                        placeholder="Enter User Skill Set" >
                        <option *ngFor="let skill of skillList" value={{skill.skillId}}>
                            {{skill.skillName}}
                        </option>
                    </select>
                </div>
            </div>
            <div class="row row-btn">
                <div class="form-group col-xs-4 col-btn-style">
                    <button type="reset" class="btn btn-secondary btn-style" (click)="resetAll()">Reset</button>
                </div>
                <div class="form-group col-xs-4 col-btn-style">
                    <button type="submit" class="btn btn-primary submit-btn-style btn-style">Save & Continue</button>
                </div>
            </div>
        </form>
    </div>
</div>