<div style="margin: 10px;">
  <div class="card mb-3">
    <div class="row" style="margin: 10px; min-height: 230">
      <div class="col-sm-6 m-6 xs-12">
        <app-my-productivity></app-my-productivity>
      </div>
      <div class="col-sm-6 m-6 xs-12">
        <app-my-contribution></app-my-contribution>
      </div>
    </div>
    <div class="row" style="margin: 10px; min-height: 360">
      <div class="col-sm-6 m-6 xs-12">
        <app-status-date></app-status-date>
      </div>
      <div class="col-sm-6 m-6 xs-12">
        <app-audit-score></app-audit-score>
      </div>
    </div>
    <div class="row" style="margin: 10px; min-height: 360">
      <div class="col-sm-6 m-6 xs-12">
        <app-available-productive></app-available-productive>
      </div>
    </div>
  </div>
</div>