
            <h6>My Productivity</h6>
          <div class="card sm-6 md-6 xs-6">
            <div class="card-body sm-6 md-6 xs-6">
              <google-chart #chart [title]="titleproductivity" *ngIf="isProdRendered" [type]="typeproductivity"
                [data]="dataproductivity" [options]="optionsproductivity" [width]="widthproductivity"
                [columnNames]="columnNamesproductivity" [height]="heightproductivity">
              </google-chart>
              <form [formGroup]="productiveGroup" (ngSubmit)="onSubmitProductive()">
                <div class="row" style="margin-left:32px; margin-right:32px;">
                  <div class=".col-xs-1 .col-sm-1 .col-md-1 .col-lg-1">
                    <div class="mx-2">
                      <p-dropdown (onChange)="onChangeSchedule()" [options]="scheduleOptions" optionLabel="name"
                        formControlName="scheduleProductive"></p-dropdown>
                    </div>
                  </div>
                  <div *ngIf="monthWise" class=".col-xs-1 .col-sm-1 .col-md-1 .col-lg-1">
                    <div class="mx-2">
                      <p-calendar [showIcon]="true" formControlName="scheduleMonth" dateFormat="mm/yy" view="month"
                        [yearNavigator]="true" yearRange="2000:2030">
                      </p-calendar>
                    </div>
                  </div>
                  <div *ngIf="dayWise" class=".col-xs-1 .col-sm-1 .col-md-1 .col-lg-1 ">
                    <div class="mx-2">
                      <p-calendar [showIcon]="true" formControlName="scheduleDay" [monthNavigator]="true"
                        [yearNavigator]="true" yearRange="2000:2030"></p-calendar>
                    </div>
                  </div>
                  <div *ngIf="weekWise" class=".col-xs-1 .col-sm-1 .col-md-1 .col-lg-1 ">
                    <div class="mx-2">
                      <p-calendar [showIcon]="true" formControlName="scheduleFromWeek" [monthNavigator]="true"
                        [yearNavigator]="true" yearRange="2000:2030">
                      </p-calendar>
                    </div>
                  </div>
                  <div *ngIf="weekWise" class=".col-xs-1 .col-sm-1 .col-md-1 .col-lg-1 ">
                    <div class="mx-2">
                      <p-calendar [showIcon]="true" formControlName="scheduleToWeek" [monthNavigator]="true"
                        [yearNavigator]="true" yearRange="2000:2030">
                      </p-calendar>
                    </div>
                  </div>
                  <div class=".col-xs-1 .col-sm-1 .col-md-1 .col-lg-1 ">
                    <div class="mx-2"> <button type="submit" class="btn btn-primary btn-style">OK</button></div>
                  </div>
                </div>
              </form>
            </div>
          </div>
