<div style="margin: 10px">
  <div class="card text-center border-primary mb-3">
    <div class="card-header">
      <ul class="nav nav-tabs card-header-tabs">
        <li class="nav-item">
          <a class="nav-link activelink active" id="basic-info" (click)="setComponentId('INFO','')">Basic
            Info</a>
        </li>
        <li class="nav-item">
          <a class="nav-link activelink" id="assign-role" (click)="setComponentId('ASSIGN_ROLE','')">Assign
            Roles</a>
        </li>
        <li class="nav-item">
          <a class="nav-link activelink" id="assign-wb" (click)="setComponentId('WB','')">Assign
            Workbasket</a>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link activelink" (click)="setComponentId('ASSIGN_USER')">Assign
            User</a>
        </li> -->
      </ul>
    </div>
    <div *ngIf="id==='INFO'" class="card-body" style="min-height: 545px">
     <app-basic-info (nextBasicTab)="setComponentId($event)"></app-basic-info>
    </div>

    <div *ngIf="id==='ASSIGN_ROLE'" class="card-body" style="min-height: 545px">
        <app-assign-roles (nextRoleTab)="setComponentId($event)" (previousBasicTab)="setComponentId($event)"></app-assign-roles>
    </div>

    <div *ngIf="id==='WB'" class="card-body" style="min-height: 545px">
        <app-assign-wb (previousRoleTab)="setComponentId($event)"></app-assign-wb>
    </div>

    <div *ngIf="id==='ASSIGN_ROLE'" class="card-body" style="min-height: 545px">
      <h5 class="card-title">ASSIGN_ROLE</h5>
      <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>

    <!-- <div *ngIf="id==='ASSIGN_USER'" class="card-body" style="min-height: 545px">
        <app-search-user></app-search-user>
    </div> -->
  </div>
</div>
