<div style="margin: 10px">
  <div class="text-center mb-3">
    <div class="row d-flex justify-content-center">
      <button type="button" data-toggle="modal" data-target="#yesnoModal" class="btn btn-success m-2">Finalize</button>
      <button type="button" data-toggle="modal" data-target="#yesnoModal" class="btn btn-warning m-2">Deny</button>
      <button (click)="setAction('pend')" type="button" class="btn btn-secondary m-2 " data-toggle="collapse"
        href="#collapseRoute">Pend</button>
      <button (click)="setAction('route')" type="button" class="btn btn-secondary m-2" data-toggle="collapse"
        href="#collapseRoute">Route</button>
      <span class="m-2" data-toggle="modal" data-target="#exampleModalCenter">
        <button class="btn btn-primary align-middle" data-toggle="tooltip" data-placement="bottom"
          title="Pause/Resume  On-going Task" style="color: #fff;
          background-color: #dc3545;
          border-color: #dc3545;">
          <i *ngIf="pause === false" class="fa fa-pause" style="color: rgb(41, 16, 22);"></i>
          <i *ngIf="pause === true" class="fa fa-play" style="color: rgb(41, 16, 22);"></i>
        </button>
      </span>
      <button type="button" class="btn btn-secondary m-2 float-right" [ngStyle]="{color: timerColor}"
        style="background-color: black; border-radius: 0px; font-family:digital">{{timer}}</button>
    </div>

    <div class="card p-2 collapse multi-collapse" id="collapseRoute" style="overflow: hidden">
      <div class="p-2">
        <div>
          <textarea [(ngModel)]="comments" placeholder="Enter comments here.." class=" form-control p-2"
            id="exampleFormControlTextarea1" rows="3"></textarea>
          <button (click)="triggerClaimCompletion(action)" data-toggle="collapse" href="#collapseRoute" type="button"
            class="btn btn-success p-2 float-right" style="margin-top: 7px ">Save and Next</button>
        </div>
      </div>
    </div>
    <div class="card ">
      <div class="card-body">
        <div class="d-flex justify-content-center">
          <input class="form-control" type="text" value="Claim ID" readonly
            style="margin: 15px; width: 25%; font-size: x-large; text-align: center">
          <input class="form-control readonly" type="text" value={{claimDetails.claimId}} readonly
            style="margin: 15px; width: 25%;font-size: x-large;text-align: center" #userinput>
          <button (click)="copyInputMessage(userinput)" class="btn btn-secondary rounded-icon" data-toggle="tooltip"
            data-placement="bottom" title="Copy Claim Id">
            <i class="fa fa-clipboard" aria-hidden="true"></i>
          </button>
        </div>
      </div>
    </div>

    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
      aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 *ngIf="pause === false" class="modal-title" id="exampleModalLabel">Reasons for Pause</h5>
            <h5 *ngIf="pause === true" class="modal-title" id="exampleModalLabel">Resume task</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form *ngIf="pause === false">
              <div *ngFor="let item of breakReasons" class="form-check d-flex flex-row">
                <input class="form-check-input" type="checkbox" value="">
                <label class="form-check-label">
                  {{item.label}}
                </label>
              </div>
            </form>
            <div class="d-flex flex-row" *ngIf="pause === true">Your Task will be resumed</div>
          </div>
          <div class="modal-footer">
            <button (click)="setPause()" type="button" class="btn btn-primary" data-dismiss="modal" id="aaa"
              style="width: 150px;">{{pause === false ?"Save & Pause": "Ok"}}</button>
          </div>
        </div>
      </div>
    </div>
    <app-yes-no-model modeId="yesnoModal" modalTitle="Complete Claim?" modalBody="Complete Claim and move to next Claim"
      modalYesButtonText="OK" modalNoButtonText="Cancel" (yesEvent)="triggerClaimCompletion('complete')">
    </app-yes-no-model>
  </div>
</div>
