<div class="row d-flex justify-content-center">
  <div>
    <button type="button" data-toggle="modal" data-target="#yesnoModal" class="btn btn-success m-2">Complete</button>
    <button type="button" class="btn btn-secondary m-2 " data-toggle="collapse" href="#collapseRoute">Pend</button>
    <button type="button" class="btn btn-secondary m-2" data-toggle="collapse" href="#collapseRoute">Route</button>
    <span class="m-2" data-toggle="modal" data-target="#exampleModalCenter">
      <button class="btn btn-primary align-middle" data-toggle="tooltip" data-placement="bottom"
        title="Pause/Resume  On-going Task">
        <i *ngIf="pause === false" class="fa fa-pause" style="color: rgb(41, 16, 22);"></i>
        <i *ngIf="pause === true" class="fa fa-play" style="color: rgb(41, 16, 22);"></i>
      </button>
    </span>
  </div>
  <div id="clockdiv" class="m-2">
    <div [ngStyle]="{background: timerColor}">
      <span [ngStyle]="{background: timerFadeColor}">{{timer}}</span>
      <div class="smalltext">HH:MM:SS</div>
    </div>
  </div>
</div>

<div class="p-2 collapse multi-collapse" id="collapseRoute">
  <div class="card p-2">
    <div>
      <textarea placeholder="Enter comments here.." class=" form-control p-2" id="exampleFormControlTextarea1"
        rows="3"></textarea>
      <button type="button" class="btn btn-success p-2 float-right" style="margin-top: 7px">Save and Next</button>
    </div>
  </div>
</div>
<div class="card-deck p-2 " style="margin-top: 25px">
  <div class="card">
    <div class="card-body">
      <div>
        <div class="row">
          <span class="col" type="text" style="margin: 15px"></span>
          <button (click)="copyInputMessage(userinput)" class="btn btn-secondary align-middle" data-toggle="tooltip"
            data-placement="bottom" title="Copy Claim Id"
            style="margin: 15px; border-radius: 50%; height: 35px; width: 35px; margin-bottom: -5px">
            <i class="fa fa-clipboard" aria-hidden="true"></i>
          </button>
        </div>
        <div class="row">
          <input class="form-control col" type="text" value="Claim Id" readonly style="margin: 15px">
          <input class="form-control col readonly" type="text" value={{claimDetails.claimId}} readonly
            style="margin: 15px" #userinput>
        </div>

        <div class="row">
          <input class="form-control col" type="text" value="Type" readonly style="margin: 15px">
          <input class="form-control col readonly" type="text" value="{{claimDetails.claimType}}" readonly
            style="margin: 15px">
        </div>
        <div class="row">
          <input class="form-control col" type="text" value="Claim Source" readonly style="margin: 15px">
          <input class="form-control col readonly" type="text" value="{{claimDetails.claimSource}}" readonly
            style="margin: 15px">
        </div>
        <div class="row">
          <input class="form-control col" type="text" value="Billed Amount" readonly style="margin: 15px">
          <input class="form-control col readonly" type="text" value="{{claimDetails.billedAmount}}" readonly
            style="margin: 15px">
        </div>
      </div>
    </div>
  </div>
  <div class="card" style="width: 200px">
    <div class="card-body">
      <div>
        <div class="row">
          <span class="col" type="text" style="margin: 15px"></span>
          <span class="align-middle"
            style="margin: 15px; border-radius: 50%; height: 35px; width: 35px; margin-bottom: -5px">
          </span>
        </div>
        <div class="row">
          <input class="form-control col" type="text" value="WB Name" readonly style="margin: 15px">
          <input class="form-control col readonly" type="text" value="{{claimDetails.workBasketName}}" readonly
            style="margin: 15px">
        </div>
        <div class="row">
          <input class="form-control col" type="text" value="State" readonly style="margin: 15px">
          <input class="form-control col readonly" type="text" value="{{claimDetails.state}}" readonly
            style="margin: 15px">
        </div>
        <div class="row">
          <input class="form-control col" type="text" value="Review/Repair reason" readonly style="margin: 15px">
          <input class="form-control col readonly" type="text" value="{{claimDetails.reviewRepairReason}}"
            style="margin: 15px;" readonly>
        </div>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <div>
        <div class="row">
          <span class="col" type="text" style="margin: 15px"></span>
          <span class="align-middle"
            style="margin: 15px; border-radius: 50%; height: 35px; width: 35px; margin-bottom: -5px">
          </span>
        </div>
        <div class="row">
          <input class="form-control col" type="text" value="Receipt Date" readonly style="margin: 15px">
          <input class="form-control col readonly" type="text"
            value="{{claimDetails.receiptDate | date: 'dd/MM/yyyy'}} " readonly style="margin: 15px">
        </div>
        <div class="row">
          <input class="form-control col" type="text" value="Entry Date" readonly style="margin: 15px">
          <input class="form-control col readonly" type="text" value="{{claimDetails.entryDate| date: 'dd/MM/yyyy'}} "
            readonly style="margin: 15px">
        </div>
        <div class="row">
          <input class="form-control col" type="text" value="Age" readonly style="margin: 15px">
          <input class="form-control col readonly" type="text" value="{{claimDetails.age}}" style="margin: 15px"
            readonly>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal -->
  <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 *ngIf="pause === false" class="modal-title" id="exampleModalLabel">Reasons for Pause</h5>
          <h5 *ngIf="pause === true" class="modal-title" id="exampleModalLabel">Resume task</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form *ngIf="pause === false">
            <div *ngFor="let item of breakReasons" class="form-check d-flex flex-row">
              <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
              <label class="form-check-label" for="defaultCheck1">
                {{item.label}}
              </label>
            </div>
          </form>
          <div class="d-flex flex-row" *ngIf="pause === true">Your Task will be resumed</div>
        </div>
        <div class="modal-footer">
          <button (click)="setPause()" type="button" class="btn btn-primary" data-dismiss="modal" id="aaa"
            style="width: 150px">{{pause === false ?"Save & Pause": "Ok"}}</button>
        </div>
      </div>
    </div>
  </div>
  <app-yes-no-model modalTitle="Complete Claim?" modalBody="Complete Claim and move to next Claim"
    modalYesButtonText="OK" modalNoButtonText="Cancel"
    (yesEvent)="triggerClaimCompletion($event)" >
  </app-yes-no-model>
