<div class="container card">
    <div class="card-body">
        <form [formGroup]="roleGroup" (ngSubmit)="submit()">
            <div class="row row-style" formArrayName="roles"
                *ngFor="let roles of roleGroup.controls.roles.controls; let i = index">
                <div class="col-sm-4 txt-style">
                    <input class="checkbox-style" id="{{roles}}-{{i}}" type="checkbox" [formControlName]="i">
                    {{rolesList[i].roleName}}
                </div>
            </div>
            <div class="row row-btn">
                <div class="form-group col-xs-4 col-btn-style">
                    <button type="button" class="btn btn-primary prev-btn-style btn-style"
                        (click)="previousPage()">Previous</button>
                </div>
                <div class="form-group col-xs-4 col-btn-style">
                    <button type="submit" class="btn btn-primary submit-btn-style btn-style">Save &
                        Continue</button>
                </div>
            </div>
        </form>
    </div>
</div>